.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.rmd
*.html
*.pdf
!code/data/documents/bundestag/*.pdf
!code/data/documents/news/*.html
Slides_fresh/
Literatur/
code/resources
code/wordclouds
